{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="presentation">
        <h1>Présentation :</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus distinctio doloribus, explicabo ipsum modi nemo non.
            Debitis enim facere fugiat maiores optio unde ut? A dignissimos
            olorum iure maxime nulla?Lorem ipsum dolor sit amet, consectetur
            dipisicing elit. Accusamus distinctio doloribus, explicabo ipsum
            Debitis enim facere fugiat maiores optio unde ut? A dignissimos
            maxime nulla?Lorem ipsum dolor sit amet, consectetur adipisicing</p>
    </div>
    <div class="slide">
        <figure>
            <img src="{{ asset('build/document.png') }}" alt="Parcours">
        </figure>
    </div>
{% endblock %}
