{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {# my presentation card #}
    <div class="presentation card mb-5">
        <h1 class=" fs-1 text-center card-title">Présentation :</h1>
        <p class="card-body">
            " Ambitieuse et dynamique, donner le meilleur de moi-même quoi qu’il arrive reste l’une de mes priorités.
            C'est ainsi qu'au cours de mes divers postes, j'ai appris à faire preuve d'autonomie, de patience et de
            flexibilité. Ma curiosité professionelle m'a poussée vers différents horizons, dans lesquelles j'ai pu
            développer et acquérir de solides compétences. "
        </p>
    </div>

    {# carousel menu #}
    <div id="carouselExampleDark" class="carousel carousel-dark slide mt-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{{ asset('build/kendyamiel.png') }}" class="d-block w-75 m-auto" alt="...">
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
            <div class="carousel-item" data-bs-interval="2000">
            <img src="{{ asset('build/zba.png') }}" class="d-block w-75 h-25  m-auto" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/cook.png') }}" class="d-block w-75 h-25  m-auto" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/travel.png') }}" class="d-block w-75 m-auto" alt="...">
                <div class="carousel-caption d-none d-md-block"></div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

{% endblock %}
