*{
    padding: 0;
    margin: 0;
    font-family: 'Alegreya', serif;
}

html,body{
   height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.presentation{
    box-shadow: inset 0px 20px 20px 0px #f2f2f2;
    transition: opacity .4s ease-in-out;
    padding: 105px;;
}

.card-body{
    text-align: justify;
    font-size: 20px;
}

/* footer style */
footer{
    margin-top: auto;
    padding: 15px;
}
@media screen and (max-width: 699px){
    .presentation{
        padding: 25px;;
    }
}