
/* style picture document*/
.content{
    display: flex;
}
.content-aligned {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: relative;
    width: 25%;
}
.title-center {
    position: absolute;
}

@media screen and (max-width: 699px) {
    .content{
        display: flex;
        flex-direction: column;
    }
}