.modal-header{
    background-image: url('/build/background-nav.jpg');
    opacity : 0.6;
}
.text {
    text-align: justify;
    border:  3px solid lavender;
    box-shadow: 10px 5px 5px  lavender;
    opacity: 0.8;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5% 5% 5% 5%;
}

.language-container img{
    width: 20%;
    box-shadow: 10px 5px 5px  lavender;
    margin: 5%;
    border:  1px solid lavender;
}
