.container-body{
    display: flex;
    margin: 0 5%;
    flex-wrap: wrap;
}
.title {
    font-weight: normal;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
}
.item-img{
    width: 100px;
}
.description {
    margin: 0;
    font-size: 15px;
    text-align: justify;
    box-sizing: border-box;
    font-weight: normal;
}
.item {
    padding: 20px 0;
    color: darkgray;
    width: calc(50% - 40px);
    display: flex;
    text-align: justify;
}
.item:hover{
    color: black;
}
.item:hover .description{
    font-weight: bold;
}
.item:nth-child(even) {
    align-self: flex-end;
}
.item-img{
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.formation-container {
    width: 100%;
    padding: 10px 0;
}
.container-header {
    width: 100%;
    text-align: center;
    position: relative;
}
.header_title {
    font-size: 46px;
    font-weight: normal;
    margin: 0;
}
.header_subtitle {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}
@media only screen and (max-width: 767px) {
    .item {
        width: 100%;
    }
    .item:last-child {
        padding-bottom: 40px;
    }
}