/* nav style */
nav{
    background-image: url('/build/background-nav.jpg');
    padding: 2%;
    opacity : 0.6;
}


nav img{
    width: 80px;
}

.navbar-brand{
    font-size: 2rem;
}

.nav-link{
    font-size: 20px;
}










