/* nav style */
nav{
    background-image: url('/build/background-nav.jpg');
    padding: 2%;
    opacity : 0.6;
}

nav img{
    width: 150px;
}

.navbar-brand{
   font-size: 4rem;
}

.nav-link{
    font-size: 35px;
}

@media screen and (max-width: 699px){
    nav img{
        width: 80px;
    }

    .navbar-brand{
        font-size: 2rem;
    }

    .nav-link{
        font-size: 20px;
    }
}





