<h1>Message envoyer depuis la page de contact Portfolio'Madjoula</h1>
<div class="container-fluid bg-3 text-left">
    <p>Nom: {{ name }}</p>
    <p>Nom: {{ mail }}</p>
    <p>Entreprise: {{ compagny_name }}</p>
    <p>Corp de texte:  {{ body_text }} </p>
    <hr>
</div>